.pro-aca{
    font-family: 'Winky Sans', sans-serif;
}
/* Solo algunos ajustes mínimos si deseas */

.list-group-item {
  transition: background-color 0.2s ease;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.btn-warning {
  color: white;
}

.a-volver {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
    
.a-volver:hover {
  background-color: rgb(179, 0, 0);
}


